@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
nav{
    background-color: aliceblue;

}
.container{
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    width: 80%;
    margin: auto;
    text-transform: uppercase;

}
nav a{
    margin: 0 10px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    padding: 5px 8px;


}
nav a:hover{
    background-color: rgb(235, 225, 225);
    transition: 0.4s ease;
    padding: 5px 8px;
    border-radius: 2px;
}

footer{
    width: 100%;
    position: absolute;
    bottom:0;
    text-align: center;
    padding: 20px 15px;
 background-color: darkcyan;
 color: white;

}
.wrapper{
    width: 80%;
    margin: auto;
    margin: 30px auto;

}
form input, form textarea{
    padding: 4px 6px;
    margin: 12px 0px;
    width: 60%;
    border-radius: 0px;
    border: 2px solid rgb(216, 209, 209);
}
input,textarea{
    outline: none;
}
form button{
    border: none;
    padding: 5px 10px;
    background-color: rgb(111, 111, 247);
    color: white;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}
form input, form textarea, form button{
    display: block;

}
.post{
    margin: 25px 0px;
    padding: 5px 10px;

    box-shadow: 3px 3px 6px rgba(0,0,0,0.1);
}