@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
    background-color: #fff;
    background-image: radial-gradient(circle, rgb(77, 243, 179) 15%, transparent 10%), radial-gradient(circle, rgb(42, 241, 192) 15%, transparent 10%);
    background-size: 100px 100px;
    background-position: 0 0, 50px 50px;
}
.container h1 {
  
}
.container {
  margin: 12% auto;
  width: 360px;
  border: 2px solid #000;
  padding: 20px 25px;
  background-color: white;
box-shadow: 5px 5px 8px rgba(0,0,0,0.1);
}
.wrap{
    margin-top: -10px;
    padding: 10px 0px;
}
ul li {
    display: flex;
    justify-content:space-between;
  list-style-type: none;
  padding: 3px 6px;
  margin: 5px 0px;
  background-color: rgb(247, 244, 244);
}
span{
    font-size: 14px;
    margin: 0 5px;
    
}
form {
  display: flex;
  justify-content: center;
}
ul li button{
    padding: 2px 6px;
    margin: 3px 0px;
    border: none;
    background-color: darkblue;
    color: white;

}

input {
  width: 80%;
  padding: 3px 6px;
  margin: 10px 0px;

}
.btn {
  padding: 3px 6px;
  width: 20%;
  border: none;
  background-color: darkblue;
  color: white;
  margin: 10px 0px;
}
