<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Blog App V.0.1</title>
</head>
<body>
    

<nav>
    <div class="container">
   <div class="left"><h2>Blog App V.0.1</h2></div>
   <div class="right">
    <a href="/">Home</a>
    <a href="/compose">Compose</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
   </div>
</div>
</nav>
<div class="wrapper">

